.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    padding: 2rem 0rem;
    background-color: $grey-dark;

    & .wrapper {
        width: 95%;
        @include space-between-center;
    }

    & .logo {
        position: relative;
        z-index: 99;
        & a {
            color: $white;
            display: inline-block;
            font-size: 2rem;
            font-weight: 400;
            letter-spacing: .3rem;
            text-transform: uppercase;
            text-decoration: none;
        }
    }

    &__left {
        display: flex;
        @include space-between-center;
        flex: 2;
        margin-right: auto;
    }

    &__right {
        display: flex;
    }

    &--scroll {
        //animation: header .5s cubic-bezier(1, 0, 0, 1);
        background-color: $white;
        //transition: all .5s cubic-bezier(1, 0, 0, 1);
    }
}

@keyframes header {
    0% {
    transform: translateY(-100%);
    }

    100% {
    transform: translateY(0%);
    }
}