.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    padding: 2rem 0rem;
    background-color: $grey-dark;

    & .wrapper {
        width: 95%;
        @include space-between-center;
    }

    & .logo {
        position: relative;
        z-index: 99;
        display: inline-block;
        transition: all .3s ease;
    }

    &__left {
        display: flex;
        @include space-between-center;
        flex: 2;
        margin-right: auto;
    }

    &__right {
        display: flex;
    }
}

.logo--dark {
    color: $text-dark;
}