.slider {
    padding: 10rem 0rem;
    width: 100%;
    overflow: hidden;

    &__container {
        display: grid;
        grid-template-columns: repeat(11, 1fr);
        gap: 2.5rem;
        padding: 0rem 5rem;

        &__item {
            height: 50rem;
            width: 50rem;
            overflow: hidden;

            & img {
                height: 100%;
                max-width: 100%;
                width: 100%;
                object-fit: cover;
                transition: all .5s ease-out;
            }

            &:hover img{
                transform: scale(1.04);
            }
        }
    }

    &:hover {
        cursor: grab;
    }
}