* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    overflow: hidden;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,.5);
    border-radius: 5px;

    &:hover {
        background-color: rgba(0,0,0,.8); 
    }
}

.wrapper {
    width: 90%;
    max-width: 1600px;
    margin: 0% auto;
    display: flex;
}

.body--container {
    width: 100%;
    height: 100%;
    position: relative;
    transition: all 1s ease-out;
}

ul {
    list-style: none;
}

.loader {
    position: absolute;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    z-index: 100;
    background-color: $grey-light;
    display: flex;
    @include center-center;

    &--text {
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }

}

.cart {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: $grey-light;
    z-index: 5;
    padding: 7rem 2.5rem 2.5rem 2.5rem;
    transform: translateX(100%);
    transition: all .5s cubic-bezier(1, 0, 0, 1);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    overflow-y: scroll;

    @media only screen and(min-width: $medium-device) {
        width: 50%;
    }

    @media only screen and(min-width: $large-device) {
        width: 50%;
    }

    @media only screen and(min-width: $extra-large-device) {
        width: 30%;
    }
 
    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;  
        border: 1px solid $grey-dark;
        padding: 1rem;
        width: 100%;
        animation: cart .3s ease;

        &:not(:last-child) {
            margin-bottom: 2.5rem;
        }

        &__info {
            display: flex;
            align-items: center;
        }

        &--img {
            display: inline-block;
            height: 5rem;
            max-width: 5rem;
            object-fit: cover;
            margin-right: 2.5rem;
        }

        &--name {
            font-size: 1.4rem;
            margin-right: 2.5rem;
        }

        &--price {
            font-size: 1.6rem;
            font-weight: 500;
        }

        &--buttons {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &__quantity {
            margin-right: 2.5rem;
            border: 1px solid #020202;
            padding: 1rem .8rem;
            font-size: 1.4rem;
            line-height: 1;
        }
    }

}

.cart__footer {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 2rem 1rem;
    border: 1px solid $grey-dark;

    & .clear,
    & .pay {
        width: auto;
        height: auto;
        display: inline-block;
        padding: 5px;
    }
}

.open--cart {
    transform: translateX(0%); 
}

:disabled {
    opacity: .8;
    cursor: not-allowed;
}

.product--price {
    position: relative;

    &::after {
        content: '$';
        position: absolute;
        top: 0%;
        right: -1rem;
    }
}

@keyframes cart {
    0% {
        margin-left: -100%;
        opacity: 0;
    }

    100% {
        margin-left: 0;
        opacity: 1;
    }
}