//Colors
$white: #fff;
$grey-dark: #78857E;
$grey-light: #F0F0F0;
$text-dark: #4A4A4A;
$text-light: #757575;

//Padding
$padding-5: 5rem 0rem;
$padding-10: 10rem 0rem;

//Margin
$margin-25: 0rem 0rem 2.5rem 0rem;
$margin-35: 0rem 0rem 3.5rem 0rem;
$margin-50: 0rem 0rem 5rem 0rem;
$margin-75: 0rem 0rem 7.5rem 0rem;

//Font
$font-primary: 'Poppins', sans-serif;

//Media queries
$small-device: 576px;
$medium-device: 768px;
$large-device: 992px;
$extra-large-device: 1600px;